<div class="flex items-center justify-center min-h-screen bg-blancoAlgodon">
    <div class="bg-white p-8 rounded-2xl shadow-lg w-96 border border-beigeMadera">
      <h2 class="text-2xl font-bold text-center text-marronTierra mb-4">Iniciar Sesión</h2>
      <form (ngSubmit)="login()" class="space-y-4">
        <div>
          <label for="email" class="block text-sm font-medium text-marronTierra">Correo:</label>
          <input type="email" id="email" [(ngModel)]="email" name="email"
                class="mt-1 w-full p-2 border border-beigeMadera rounded-md focus:outline-none focus:ring-2 focus:ring-verdeSalvia" required>
        </div>
        <div>
          <label for="password" class="block text-sm font-medium text-marronTierra">Contraseña:</label>
          <input type="password" id="password" [(ngModel)]="password" name="password"
                class="mt-1 w-full p-2 border border-beigeMadera rounded-md focus:outline-none focus:ring-2 focus:ring-verdeSalvia" required>
        </div>
        <button type="submit"
                class="w-full bg-verdeSalvia text-white py-2 rounded-md hover:bg-marronTierra transition">
          Ingresar
        </button>
      </form>
    </div>
  </div>
  