.calendario-container {
    background-color: #FAF9F7; // blancoAlgodon
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-top: 32px;
  }
  
  button {
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #81977B; // greenDark en hover
  }
  
  .message {
    background-color: #bfd992; // greenSoft
    color: #3A2A25; // brownDark
    padding: 10px;
    border-radius: 5px;
    text-align: center;
  }
  
  input, button {
    border: 1px solid #9C6F48; // marronTierra
    border-radius: 8px;
  }
  
  input:focus, button:focus {
    outline: none;
    border-color: #A8BBA1; // verdeSalvia
    box-shadow: 0 0 0 3px rgba(168, 187, 161, 0.3);
  }
  
  input[type="date"], input[type="time"] {
    padding-left: 10px;
  }
  
  .hora-select {
    appearance: none; /* Eliminar estilo predeterminado */
    -webkit-appearance: none;
    -moz-appearance: none;
  
    padding: 0.5rem 1rem;  /* Espaciado más pequeño para que sea más compacto */
    width: auto;   /* Ajustar el ancho */
    max-width: 8rem; /* Establecer un tamaño máximo para el select */
    text-align: center; /* Centrar el texto */
  
    border-radius: 0.375rem;  /* Bordes redondeados */
    border: 1px solid #c8b2a2; /* Borde marrón claro */
    background-color: white;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1); /* Sombras suaves */
  
    /* Estilo cuando está enfocado */
    &:focus {
      border-color: #81977B; /* Borde al enfocar */
      box-shadow: 0 0 0 2px rgba(38, 129, 66, 0.4); /* Sombra al enfocar */
    }
  
    /* Estilo de las opciones */
    option {
      padding: 0.5rem;  /* Reducción de padding de las opciones */
      background-color: white;
      color: #3A2A25;
      font-size: 0.875rem;  /* Fuente más pequeña */
    }
  
    /* Estilo cuando se pasa el ratón */
    option:hover {
      background-color: #e0e0e0;
    }
  
    /* Limitar la altura del desplegable y permitir scroll */
    max-height: 12rem;  /* Limitar la altura máxima del dropdown */
    overflow-y: auto; /* Barra de desplazamiento cuando es necesario */
  }
  
  .modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro */
    z-index: 1000; /* Asegura que esté sobre otros elementos */
  }
  
  .modal-container {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para el modal */
  }
  
  button {
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: rgba(0, 0, 0, 0.1); /* Sombra al pasar el mouse */
  }
  